//--------------------
//  common setting
//--------------------

//color
$baseColor: #333;
$subColor: #cd1818;
$bgColor: #fefefe;


//brake point
$pc: 8000px;
$sp: 799px;

@mixin pc {
	@media print, screen and (min-width: ($pc)) {
		@content;
	}
}
@mixin sp {
	@media screen and (max-width: ($sp)) {
		@content;
	}
}


//--------------------
//	custom
//--------------------

body {
	background-color: #{$bgColor};
}

small {
  font-size: 0.85em;
  text-align: center;
  display: block;
}
